{% extends 'master' %}

{% block content %}
  <div class="__banner">
    <div class="banner__inner">
      <img src="/assets/hat.svg">
      <h2>Wichteln-as-a-Service</h2>

      <div>
        <a href="docs">Documentation</a>
      </div>
    </div>
  </div>
{% endblock %}
