{% extends 'master' %}

{% block content %}
  <div class="__banner">
    <div class="banner__inner">
      <img src="/assets/hat.svg">
      <h2>Wichteln-as-a-Service</h2>
      <table>
        <tbody>
          <tr>
            <td>
              <small>GET<br>HEAD</small>
            </td>
            <td>
              <code>
                http://localhost:3333/api/v1/wichtelgroup
              </code>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
