<h2> Heya {{ name }}</h2>

<h3> Welcome to <em>wichteln-as-a-service</em></h3>

<p>You got invited to wichtel in this Group: {{ group }} </p>

<p>If you expected this E-Mail and want to join the party please approve your participation and click the following link</p>

<p><a href="{{ link }}">Verify Me!</a></p>

<p>Or you can copy and paste the link into your browser: {{ link }}</p>
